<!DOCTYPE html>
<html>

<head lang="en">
  <meta charset="UTF-8">
  <title>cnode·Supported by Vue</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link href="semantic.min.css" rel="stylesheet" type="text/css" />
  <link href="icon.min.css" rel="stylesheet" type="text/css" />
  <link href="style.css" rel="stylesheet" type="text/css" />

  <script src="https://unpkg.com/vue"></script>
  <script src="https://cdn.bootcss.com/jquery/3.2.1/core.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
  <div id="app">
    <div class="ui container">

      <header class="ui fixed inverted menu">
        <a class="item" @click="chooseTab" id="">首页</a>
        <a class="item" @click="chooseTab" id="ask">问答</a>
        <a class="item" @click="chooseTab" id="share">分享</a>
        <a class="item" @click="chooseTab" id="job">招聘</a>
        <a class="item" @click="chooseTab" id="good">精华</a>
 
        <div class="right menu">
          <div class="ui selection">

          </div>
          <div class="item">
            <div class="ui icon input">
              <input type="text" placeholder="Search...">
              <i class="search link icon"></i>
            </div>
          </div>
          <a class="ui item">登出 </a>
        </div>
      </header>


      <div class="ui message transition" id="message">
        <i class="close icon"></i>
        <div class="header">欢迎回来！</div>
        <br>
        <div class="content">
          <p v-for="item in warning"> {{ item }}
            <span class="ui green">[succeed]</span>
          </p>
        </div>

      </div>



      <section class="ui segments" v-for="data in siteList">
        <div class="ui segment borderless">
          <div class="ui red horizontal small label" v-if="data.top"> 置顶 </div>
          <div class="ui yellow horizontal label" v-if="data.good"> 精华 </div>
          <div class="ui green horizontal label" v-if="data.tab == 'share'"> 分享 </div>
          <div class="ui grey horizontal label" v-if="data.tab == 'ask'"> 问答 </div>
          <div class="ui black horizontal label" v-if="data.tab == 'job'"> 工作 </div>
          <!-- <a v-bind:href="'localhost:3000/post/'+data.id">{{ data.title }}</a> -->
          <a v-bind:href="'/post/?id='+data.id">{{ data.title }}</a>
          <!-- 测试之后发现，href已经有了预设，就是localhost:3000,href中输入的string是在这之后的。 -->
          <!-- 比如 href="/post"，转到的是localhost:3000/post 这个页面 -->
        </div>


      </section>



      <div class="ui pagination menu">
        <a class="item" @click="firstPage">
          1
        </a>
        <div class="disabled item">
          ...
        </div>
        <a class="item" @click="pageChange" v-for="item in page_list" v-html="item">
        </a>

        <a class="item" @click="morePage">
          后五页
        </a>
      </div>


    </div>


    <footer class="ui center aligned basic segment">
      <div class="ui horizontal divider">特别鸣谢</div>

      <div class="ui centered cards">
        <div class="ui card">
          <div class="ui image">
            <img src="https://o4a7cbihz.qnssl.com/avatar/53cdccee-0cee-415f-817c-a31ed979107e">
          </div>
          <div class="content">
            <a class="header">新生大学JavaScript入门课</a>
            <div class="meta">
              <p class="date">Create in Aug 2017</p>
              <img class="ui avatar image" src="xgyang.jpg">
              <span>徐高阳</span>
            </div>
          </div>
        </div>
      </div>

    </footer>

  </div>
</body>




<script type="text/javascript" src="app.js"></script>

</html>