<!DOCTYPE html>
<html>

<head>
  
  <link href="semantic.min.css" rel="stylesheet">
  <link href="icon.min.css" rel="stylesheet" type="text/css" />
  <link href="style-detail.css" rel="stylesheet" type="text/css" />
  
  <script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/locale/ar-dz.js"></script>
  <script src="https://cdn.bootcss.com/vue/2.4.4/vue.min.js"></script>
  <script src="https://cdn.bootcss.com/axios/0.16.2/axios.min.js"></script>
  
</head>

<body>
  <div id="app">
    <div class="ui container">
      
        <!-- 导航栏 -->
        <nav class="ui fixed inverted menu ">
            <a  class="item" href="../">首页</a>
            <a  class="item" href="../">问答</a>
            <a  class="item" href="../">分享</a>
            <a  class="item" href="../">招聘</a>
            <a  class="item" href="../">精华</a>

            <div class="right menu">
              <div class="ui selection">
    
              </div>
              <div class="item">
                <div class="ui icon input">
                  <input type="text" placeholder="Search...">
                  <i class="search link icon"></i>
                </div>
              </div>
              <a class="ui item">登出 </a>
            </div>
          </nav>

    <section id="main">
      <!-- 标题 -->
      <h1 class="ui dividing header">{{ title }}</h1>
      
      <!-- 接收的内容 -->
      <article v-html="content" id="respondData"></article>
    </section>


      <!-- 作者详情 -->
      <h4 class="ui horizontal divider header"><i class="tag icon"></i> Description </h4>

      <aside class="item">
        <a class="ui tiny image">
          <img v-bind:src="author.avatar_url">
        </a>
        <div class="content">
          <a class="header">{{ author.loginname }}</a>
          <div class="description">
            <p>Stevie Feliciano is a <a>library scientist</a> living in New York City. She likes to spend her time reading, running, and writing.</p>
          </div>
        </div>
      </aside>

      <!-- 评论区 -->
      <h4 class="ui horizontal divider header"><i class="tag icon"></i> Description </h4>

      <div class="ui comments">
        <h3 class="ui dividing header">Comments</h3>

        <div class="comment" v-for="reply in replies">
          <a class="avatar">
            <img :src="reply.author.avatar_url">
          </a>
          <div class="content">
            <a class="author">{{ reply.author.loginname }}</a>
            <div class="metadata">
              <span class="date">{{ reply.creat_at }}</span>
            </div>
            <div class="text" v-html="reply.content"></div>
            <div class="actions">
              <a class="reply">Reply</a>
            </div>
          </div>
        </div>


        <form class="ui reply form">
          <div class="field">
            <textarea></textarea>
          </div>
          <div class="ui blue labeled submit icon button">
            <i class="icon edit"></i> Add Reply </div>
        </form>
      </div>
    </div>
  </div>

</body>


<script type="text/javascript">
  var postId = '<%= _id %>';
</script>
<script type="text/javascript" src="app_detail.js"></script>
</html>