<!DOCTYPE html>
<html>

<head>
  <!-- <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css"> -->
  <link href="semantic.min.css" rel="stylesheet">
  <link href="icon.min.css" rel="stylesheet" type="text/css" />

  <script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/locale/ar-dz.js"></script>
  <script src="https://cdn.bootcss.com/vue/2.4.4/vue.min.js"></script>
  <script src="https://cdn.bootcss.com/axios/0.16.2/axios.min.js"></script>
  <script>
    moment().format();
</script>
</head>

<body>
  <div id="app">
    <div class="ui container">
      <h2>{{ title }}</h2>

      <div v-html="content" id="needModify"></div>

      <div class="ui comments">
        <h3 class="ui dividing header">Comments</h3>

        <div class="comment" v-for="reply in replies">
          <a class="avatar">
            <img :src="reply.author.avatar_url">
          </a>
          <div class="content">
            <a class="author">{{ reply.author.loginname }}</a>
            <div class="metadata">
              <span class="date">{{ reply.creat_at }}</span>
            </div>
            <div class="text" v-html="reply.content"></div>
            <div class="actions">
              <a class="reply">Reply</a>
            </div>
          </div>
        </div>


        <form class="ui reply form">
          <div class="field">
            <textarea></textarea>
          </div>
          <div class="ui blue labeled submit icon button">
            <i class="icon edit"></i> Add Reply </div>
        </form>
      </div>
    </div>
  </div>

</body>


<script src="https://cdn.bootcss.com/jquery/3.2.1/core.js"></script>
<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript">
  var postId = '<%= _id %>';
</script>
<script type="text/javascript" src="app_detail.js"></script>

</html>